node_modules/
.mesh/
.wrangler/
mesh-artifact/
tempfiles/
testMesh/
meshes/

.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# secrets
mesh/stage-secrets.yaml
mesh/prod-secrets.yaml

# build artifact (contains interpolated secrets)
mesh/mesh.json

# test mesh
testMesh.txt