{
  "openapi": "3.0.3",
  "info": {
    "title": "Salesforce BST Create Lead API",
    "version": "1.0.0",
    "description": "OpenAPI schema generated from the provided cURL for use with Adobe API Mesh.\nThis schema models the request body fields from the sample payload.\nRuntime authorization should be supplied by API Mesh operationHeaders or context,\nnot hardcoded into this file.\n"
  },
  "servers": [
    {
      "url": "https://mpowerpidilite--partial.sandbox.my.salesforce-sites.com",
      "description": "Salesforce Sites sandbox base URL"
    }
  ],
  "paths": {
    "/CallCenterLead/services/apexrest/bstcreatelead": {
      "post": {
        "operationId": "createLead",
        "summary": "Create or submit one or more leads",
        "description": "Submits lead records to the Salesforce Apex REST endpoint.",
        "tags": [
          "SalesforceLead"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request accepted by the source system",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2"
      }
    },
    "schemas": {
      "CreateLeadRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "Leads"
        ],
        "properties": {
          "Leads": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/LeadInput"
            }
          }
        }
      },
      "LeadInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "state": {
            "type": "string"
          },
          "nature": {
            "type": "string"
          },
          "LeadId": {
            "type": "string"
          },
          "FraudScore": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "pincode": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "LeadSource": {
            "type": "string"
          },
          "utm_url": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "utm_source": {
            "type": "string"
          },
          "utm_medium": {
            "type": "string"
          },
          "utm_campaign": {
            "type": "string"
          },
          "utm_adgroup": {
            "type": "string"
          },
          "utm_content": {
            "type": "string"
          },
          "CampaignName": {
            "type": "string"
          },
          "AdGroupName": {
            "type": "string"
          },
          "utm_device": {
            "type": "string"
          },
          "utm_matchtype": {
            "type": "string"
          },
          "utm_adid": {
            "type": "string"
          },
          "utm_keyword": {
            "type": "string"
          },
          "DFACLatestOutcalledDate": {
            "type": "string",
            "description": "Date value was not specified in the sample. Kept as string for compatibility."
          },
          "LeadCRMNumber": {
            "type": "integer"
          },
          "LeadCRMStatus": {
            "type": "string"
          },
          "LeadBusinessValue": {
            "type": "number"
          },
          "gclid": {
            "type": "string"
          },
          "area": {
            "type": "string"
          },
          "FraudCategory": {
            "type": "string"
          },
          "FraudSubCategory": {
            "type": "string"
          },
          "Extra1": {
            "type": "string"
          },
          "Extra2": {
            "type": "string"
          },
          "Extra3": {
            "type": "string"
          },
          "Extra4": {
            "type": "string"
          },
          "utm_term": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "form_type": {
            "type": "string"
          },
          "Lead_Score": {
            "type": "integer"
          },
          "Fraud_Status": {
            "type": "string"
          },
          "Referral_Source": {
            "type": "string"
          },
          "IsCallable": {
            "type": "boolean"
          },
          "utm_ur": {
            "type": "string"
          },
          "PaintingSurface": {
            "type": "string"
          }
        }
      },
      "CreateLeadResponse": {
        "type": "object",
        "description": "Response contract was not provided with the cURL. This permissive schema keeps the\nOpenAPI document valid and API Mesh-compatible until a real response sample is available.\n",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true
      }
    }
  }
}